.App {
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center;
}

.App__paw {
  font-size: 0.75em;
  margin-right: 10px;
}

.App__header {
  background-color: #00a461;
  font-family: 'Caveat Brush', cursive;
  font-size: 4em;
  color: white;
  margin: 0 0 50px;
  padding: 30px;
}

.App__body {
  margin: 30px;
}

@media (min-width: 1200px) {
  .App {
    font-size: 16px;
  }
}
