.App {
  color: #555;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.App__paw {
  font-size: 0.75em;
  margin-right: 10px;
}

.App__header {
  background-color: #00a461;
  font-family: 'Caveat Brush', cursive;
  font-size: 4em;
  color: white;
  margin: 0;
  padding: 10px;
}

.App__body {
  margin: 20px 30px;
}
