.Breed {
  border: 1px solid #999;
  border-radius: 5px;
  max-width: 90%;
  margin: auto;
}

.Breed__image {
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
}

.Breed__description {
  text-align: left;
  margin: 20px auto;
  width: 90%;
}

.Breed__search_button {
  background-color: #fff;
  border: 2px solid #00a461;
  border-radius: 5px;
  color: #00a461;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 40px;
  margin-top: 20px;
}

.Breed__search_button:hover {
  background-color:#00a461;
  border: 2px solid #fff;
  color: #fff;
}


@media (min-width: 480px) {
  .Breed {
    max-width: 500px;
  }
}
