.Form {
  margin: 0 auto;
  max-width: 600px;
}

.Form__header {
  margin-bottom: 50px
}

.Form__submit_button {
  background-color: #00a461;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px 40px;
  margin-top: 50px;
}

.Form__submit_button:hover {
  background-color:#fff;
  border: 2px solid #00a461;
  color: #00a461;
}
